*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  height:100%;
  background:radial-gradient(circle at top, #2a2a2a, #0f0f0f);
}

body{
  height:100vh;
  margin:0;
  display:flex;
  align-items:center;
  justify-content: center;
  overflow: hidden;
 
}

.container{
  width:100%;
  display:flex;
  flex-direction: column;
  gap:40px;
  align-items: center;
  gap:30px;
}

.form{
  background:#1c1c1c;
 width:100%;
 max-width:400px;
  border-radius:20px;
  padding:25px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.6);
}

.form h1{
  font-size:20px;
  text-align: center;
  margin-bottom: 18px;
  color:#fff;
}

.inputs{
  display:flex;
  flex-direction: column;
  gap:12px;
}

.field label{
  color:#bdbdbd;
  font-size:15px;
}

.field input{
  width:100%;
  padding:10px 12px;
  border-radius:8px;
  border:none;
  outline:none;
  background:#2a2a2a;
  color:#fff;
}

#bio{
  height:70px;
}

button{
  padding:10px;
  margin-top:10px;
  cursor:pointer;
  border:none;
  border-radius:10px;
  color:#fff;
  background: linear-gradient(135deg, #2e2e2e, #3a3a3a);
  font-size:15px;
}

.card .remove-btn {
  position: absolute;
  top: 8px;
  left: 8px;
  background: #e53935;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 4px 10px;
  font-size: 12px;

}

.card .edit-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background: #43a047;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 4px 8px;
  font-size: 12px;

}

.users{
  width:100%;
  display:flex;
  gap:24px;
  justify-content: center;
  max-height:260px;
  overflow-y:auto;
  padding-bottom:10px;
  flex-wrap: wrap;
}

.card{
  width:240px;
  background:#212020;
  box-shadow: 0 15px 30px rgba(0,0,0,0.5);
  border-radius:18px;
  padding:18px;
  text-align:center;
  color:#fff;
  flex-shrink:0;
  transition: transform 0.3s ease-in-out ,box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 25px 45px rgba(0,0,0,0.7);
}
.card img{
  margin: 10px 15px;
  width:70px;
  height:70px;
  border-radius:50%;
  object-fit:cover;
  
}

.card .role{
 color:#aaa;
 font-size: 14px;
 margin-bottom: 6px;
}

.card p{
  font-size:14px;
  color:#ccc;
}

@media(max-width:600px){

  body{
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    height:auto;
  }
  .form{
    width:95%;
    padding:15px;

  }
  .users{
    flex-direction:column;
    gap:15px;
    align-items: center;
    max-height:none;
  }

  .card{
    width:90%;
    max-width:none;
  }
}